#hero > div {
  height: 100vh;
}

#hero h1 {
  font-size: 3.5em !important;
}

.hero-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.h100 {
  height: 80vh;
}

.Mail {
  height: auto;
  min-width: 2.5em;
  background-color: #045de9;
  background-image: linear-gradient(135deg, #045de9 0%, #09c6f9 74%);
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  border-radius: 0.5em;
}

.Mail > a {
  transform: translateZ(20px);
  margin: 0;
}

.Mail > a > div {
  height: 100%;
  margin-right: 0.5em;
  align-items: center;
}

.inline {
  display: inline;
}

.bi-envelope {
  margin: 0 0.5em 0 0;
}

.white {
  color: white;
}
